.title-login {
  font-weight: bold;
  color: #3f5caa !important;
  font-size: 18px;
}

.right-col-login {
  margin: auto !important;
  box-shadow: 1px 0px 16px -9px rgba(0, 0, 0, 0.75);
  border-radius: 20px !important;
}

.left-col-login {
  margin: auto !important;
}

.login-container {
  min-height: 100vh;
}

.btn-svg {
  border: 2px solid #8cb9e3;
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;

  &:focus {
    border: 2px solid #8cb9e3;
  }
}

.btn-eye {
  border: 2px solid #8cb9e3;
  border-right: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  &:focus {
    border: 2px solid #8cb9e3;
  }
}


.input-style {
  border: 2px solid #8cb9e3;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.input-style-pass {
  border: 2px solid #8cb9e3;
  border-radius: 0 !important;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.btn-login {
  color: white;
  background-color: #3f5caa;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
}

.form-control::placeholder {
  color: #9FA0A2;
  font-weight: bold;
}

.col-input{
  margin: 0 auto 0 auto;
}

.img-login{
  width: 100%;
  max-width: 800px;
  height: auto;
}

.eye-svg{
  color: #8cb9e3;
}

.btn-svg-eye {
  border: 2px solid #8cb9e3;
  border-radius: 10px;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.keyboard-svg {
  border-top: 2px solid #8cb9e3;
  border-radius: 0px;
  border-bottom: 2px solid #8cb9e3;
  border-right: 2px solid #8cb9e3;
  border-right: 0 !important;
}

ul {
  text-align: center;
}

.simple-keyboard {
  max-width: 349px;
  direction: ltr;
  position: absolute;
  top: 53%;
  right: 13%;
  display: none;
}

.block{
  display: block;
}
.none{
  display: none;
}