.btn-add-patient {
  font-weight: 600;
  width: fit-content;
  border-radius: 10px;
  margin-left: 10px;
  border: 2px solid #4b67b0;
  background-color: white;
}


.label-national-code {
  font-size: 16px;
  font-weight: bold;
  margin-top: 22px;
}

.input-national-code {
  margin: 0 auto 0 auto;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
.btn-bottom-modal{
  width: 150px;
  font-size: 16px;
  font-weight: bold;
}