<div class="container-fluid">
  <div class="card mt-5 mb-5">
    <div class="card-header">
      <p class="title-name mt-1">جزئیات </p>
    </div>
    <div class="card-body">
      <div class="table-responsive" style="overflow:auto;">
        <table class="table table-striped table-hover">
          <thead class="thead-table">
            <tr>
              <th class="th-table" scope="col">نام قلم </th>
              <th class="th-table" scope="col">تعداد </th>
              <th class="th-table" scope="col">نام فروشگاه </th>
              <th class="th-table" scope="col">نام شرکت</th>
              <th class="th-table" scope="col">تخفیف </th>
              <th class="th-table" scope="col">درصد تخفیف </th>
              <th class="th-table" scope="col"> نوع سند</th>
              <th class="th-table" scope="col"> ثبت شده توسط</th>
              <th class="th-table" scope="col">تاریخ فاکتور</th>
              <th class="th-table" scope="col">تاریخ سند</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center tr-table">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>